mkdocs-materialx==10.1.7
mkdocs==1.6.1
markdown==3.10.2
jinja2
pymdown-extensions
mkdocs-document-dates
mkdocs-include-markdown-plugin
mkdocs-autorefs
mkdocstrings
pymdown-multimd-table
mkdocs-click
mkdocs-rss-plugin
mkdocs-table-reader-plugin
mkdocs-glightbox
markdown-exec
mkdocs-section-index
mkdocs-open-in-new-tab
mkdocs-schema-reader
mkdocs-caption
